*{
	margin: 0 auto;
	padding: 0;
}
body{
	width: 1080px;
}
.header{
	height: 290px;
	width: 1080px;
	background: #f0dfb3 url(images/header.jpg) no-repeat;
	font-family: "KaiTi";
}
span{
	font-size: 70px;
}
.nav{
	list-style: none;
	padding-left: 70px;
	margin-top: 88px;
	overflow: hidden;
	background-color: #f0dfb3;
}
.nav ul{
	list-style: none;
	width: 120px;
	position: absolute;
	left: -1000px;
	background-color: #f0dfb3;
}
.nav li:hover ul{
	left: auto;
}
ul.nav li{
	float: left;
	margin-right: 55px;
	font-size: 30px;
}
.nav ul li{
	padding-left: 9px;
	width: 120px;
	font-size: 25px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	background: #bf9a0d;
}
.main{
	width: 1080px;
	background: #e7d8bb;
}
#index_title{
	font-family: "KaiTi";
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;
}
#slideshow{
	width: 480px;
	height: 360px;
	position: relative;
	overflow: hidden;
}
.left,.left_Tea{
	float: left;
	width: 150px;
	height: 500px;
}
.left ul{
	list-style: none; 
	font-family: "KaiTi";
	font-size: 25px;
	margin-left: 35px;
	margin-top: 12px;
}
.left_Tea ul{
	list-style: none; 
	font-family: "KaiTi";
	font-size: 25px;
	margin-left: 75px;
	margin-top: 120px;
}
.left li,.left_Tea li{
	margin-top: 50px;
}
.right{
	padding-left: 210px;
	padding-right: 90px;
	padding-bottom: 50px;
}
h2{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}
#shennong{
	height: 294px;
	width: 250px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}
#make{
	width: 350px;
	height: 235px;
	display: block;
	margin: 0 auto;
}
/*#spread21,#spread22,#spread,#export,
#greentea,#greentea2,#redtea1,#redtea2,
#qingcha1,#qingcha2,#whitetea1,#whitetea2,
#yellowtea1,#darktea1,#qihong,#xihulongjing,
#puer,#tieguanyin,#biluochun,#xinyangmaojian,
#junshanyinzhen,#luanguapian,#huangshanmaofeng,
#duyunmaojian,#wuyiyancha,#luyv,#Japanesechadao,
#art,#doucha,#shiming,#minghui,#kusun,#yiye{
	display: block;
	margin: 0 auto;
}*/
img{
	display: block;
	margin: 0 auto;
}
#yellowtea1{
	width: 170px;
	height: 130px;
}
#yellowtea2{
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 300px;
}
#darktea2{
	display: block;
	margin: 0 auto;
	width: 512px;
	height: 312px;	
}
#describe{
	text-align: center;
}
#drink{
	width: 336px;
	height: 190px;
	display: block;
	margin: 0 auto;
}
.right ul{
	list-style: none;
	margin-top: 40px;
	font-size: 25px;
	padding-left: 320px;
}
.right li{
	float: left;
	padding-right: 20px;
}
.right a{
	padding:10px;
	border: 1px green solid;
}
.footer{
	overflow: hidden;
	width: 1080px;
	height: 32px;
	background: #dec37e;
}
#wrap{
	white-space: pre-wrap;
}
p{
	text-indent: 2em;
}
